@page
@model PetHotel.Pages.Pets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Pet</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pet.PetName" class="control-label"></label>
                <input asp-for="Pet.PetName" class="form-control" />
                <span asp-validation-for="Pet.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Species" class="control-label"></label>
                <input asp-for="Pet.Species" class="form-control" />
                <span asp-validation-for="Pet.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Age" class="control-label"></label>
                <input asp-for="Pet.Age" class="form-control" />
                <span asp-validation-for="Pet.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.OwnerId" class="control-label">Owner Name</label>
                <select asp-for="Pet.OwnerId" class="form-control" asp-items="ViewBag.OwnerId">
                    </select>
                <span asp-validation-for="Pet.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.hasSpecialNeeds" class="control-label">Special Needs:</label>
                <div class="form-check">
                    <input type="radio" asp-for="Pet.hasSpecialNeeds" value="true" class="form-check-input" />
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Pet.hasSpecialNeeds" value="false" class="form-check-input" />
                    <label class="form-check-label">No</label>
                </div>
                <span asp-validation-for="Pet.hasSpecialNeeds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Pet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-page="Index">Back to Pet List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
