@page
@model PetHotel.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Room</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.RoomNumber" class="control-label"></label>
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Availability" class="control-label"></label>
                <input asp-for="Room.Availability" class="form-control" />
                <span asp-validation-for="Room.Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.CategoryId" class="control-label">Room Type</label>
                <select asp-for="Room.CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                </select>
                <span asp-validation-for="Room.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Room" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Rooms List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
