@page
@model PetHotel.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Booking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.Description" class="control-label"></label>
                <input asp-for="Booking.Description" class="form-control" />
                <span asp-validation-for="Booking.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckIn" class="control-label"></label>
                <input asp-for="Booking.CheckIn" class="form-control" />
                <span asp-validation-for="Booking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOut" class="control-label"></label>
                <input asp-for="Booking.CheckOut" class="form-control" />
                <span asp-validation-for="Booking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PetId" class="control-label">Pet Name</label>
                <select asp-for="Booking.PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomId" class="control-label">Room Number</label>
                <select asp-for="Booking.RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
