/* wwwroot/css/index.css */
.tab-container {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    flex: 0 0 calc(25% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tab-content {
    padding: 10px;
}

.tab:hover {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    cursor: pointer;
}

.edit-button {
    background-color: #FFFF66;
    color: black;
}

.details-button {
    background-color: #0066CC;
    color: white;
}

.delete-button {
    background-color: #FF0000;
    color: white;
}

button {
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    position: center;
}
